<%- include("./partials/header") %> 


<div class="bg-dark w-100 h-200 ml-2" >
<h1 class="text-primary">Movie API</h1>

<form action="/results" method="GET">
    <div class="form-inline">
<input class="form-control" placeholder="search movie" name="searched_item" type="text" placeholder="location" required>
    <button class="btn btn-success" type="submit"> Search </button>
</div>
</form>

	<div class="row">
<% if (typeof data != 'undefined'){%>
    
		<% data["Search"].forEach(function(movie) { %>
			<div class="col-12 col-md-3 ">
				<div class="mb-2">
				<a href="/show/<%= movie["Title"]%>"><img src="<%= movie["Poster"] %>"></a>	
				</div>
			</div>
						  <% } )%>
						

<%}%>

</div>
</div>				  
<%- include("./partials/footer") %> 

